.top {
    background-color: #023047;
    height : 100px;
    border-bottom: 10px solid #219ebc ;
    display: flex;
    margin:auto;
    padding:0;
    justify-content: center;
    
}
.logo1{
    height : 100%;
    width : auto;
    user-select: none;

}
.body{
    padding: 0 ;
    margin: 0 ;
    background-color: #ffb703;
    font-family: 'Times New Roman', Times, serif;
}

.logotext{
    color: #ffb703;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    text-shadow: 3px 3px #af820f;
    padding-top: 10px;
    user-select: none;
    font-family: 'Times New Roman', Times, serif;
}

.backimg{
    background-image: url("bgimgn.png");
    height: auto;
    width:100%;
    padding-top: 40px;
    padding-bottom: 50px;
}
.svg{
    fill:#023047;
    height: 100px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    user-select: none;
}
.para{
    margin-left: 25% ;
    margin-right: 25% ;
    text-align: center;
    font-size: 30px;
    color: #023047;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 0;
    font-weight: bold;
    user-select: none;
    font-family: 'Times New Roman', Times, serif;
}
.middle{
    background: #8ecae6;
    height:auto;
    width : 100%;
}
.end{
    background-color: #023047;
    height:100%;
    width:100%;
}
.contact{
    padding-top: 25px;
    padding-bottom : 25px;
    text-align: center;
    color: #FB8500;
    margin:0;
    font-size:30px;
    text-shadow:1px 1px#fb4f00;
    font-weight:bold;
}
a,
a:visited,
a:hover,
a:active {
  color: #FB8500;
}
.tagline{
    padding-bottom: 10px;
    margin: 0;
    color: #023047;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
